region: "ca-central-1"
role: "arn:aws:iam::820242914501:role/sm_default_exec_role_VCK7"
tracking_server_arn: "arn:aws:sagemaker:ca-central-1:820242914501:mlflow-tracking-server/sagemaker-mlflow"
default_bucket: "sagemaker-ca-central-1-820242914501"
sagemaker_project_name: "test-project-1"
model_package_group_name: "AbalonePackageGroup"
pipeline_name: "AbalonePipeline"
base_job_prefix: "Abalone"
processing_instance_type: "ml.m5.xlarge"
training_instance_type: "ml.m5.xlarge"
experiment_name: "Abalone-pipelines-experiment"
max_jobs: 5
max_parallel_jobs: 5
strategy: "Random"
use_sg_model_registry: True
hyperparameters:
  alpha:
    min: 0.1
    max: 10.0
    scaling_type: "Logarithmic"
  lambda:
    min: 0.1
    max: 10.0
    scaling_type: "Logarithmic"
  num_round:
    min: 10
    max: 1000
    scaling_type: "Linear"
  max_depth:
    min: 3
    max: 10
    scaling_type: "Linear"
  eta:
    min: 0.01
    max: 0.3
    scaling_type: "Logarithmic"
  gamma:
    min: 0.0
    max: 5.0
    scaling_type: "Linear"
  min_child_weight:
    min: 1
    max: 10
    scaling_type: "Linear"
  subsample:
    min: 0.5
    max: 1.0
    scaling_type: "Linear"